#For stocky/.gitignore

### IntelliJ IDEA ###

/stocky/.idea

/stocky/*.iws

/stocky/*.iml

/stocky/*.ipr

/stocky/HELP.md

/stocky/target/

!/stocky/.mn/wrapper/maven-wrapper.jar

/ stocky/src/main/**/target/

! !/stocky/src/test/**/target/

### VS Code ###

/stocky/.vscode/

## Node

/stocky/Node

/stocky/node

/stocky/node-modules

# For stocky/stocky-web/.gitignore

# Compiled output

/stocky/stocky-web/dist

/stocky/stocky-web/tmp

/stocky/stocky-web/out-tsc

/stocky/stocky-web/bazel-out

# Node

/stocky/stocky-web/node

/stocky/stocky-web/node_modules

/stocky/stocky-web/npm-debug.log

/stocky/stocky-web/yarn-error.log

#IDEs and editors

/stocky/stocky-web/.idea/

/stocky/stocky-web/.project

/stocky/stocky-web/.classpath

/stocky/stocky-web/.c9/

/stocky/stocky-web/*.launch

/stocky/stocky-web/.settings/

/stocky/stocky-web/*.sublime-workspace

#Visual Studio Code

/stocky/stocky-web/.vscode/*

!/stocky/stocky-web/.vscode/settings.json

!/stocky/stocky-web/.yscode/tasks.json

!/stocky/stocky-web/.yscode/launch.json

!/stocky/stocky-web/.ys.code/extensions.json

/stocky/stocky-web/.history/*

#Miscellaneous

/stocky/stocky-web/.angular/cache

/stocky/stocky-web/.sass-cache/

/stocky/stocky-web/connect.lock

/stocky/stocky-web/coverage

/stocky/stocky-web/libpeerconnection.log

/stocky/stocky-web/testem.log

/stocky/stocky-web/typings

#System files

/stocky/stocky-web/.DS Store

/stocky/stocky-web/Thumbs.db

#For stocky/stocky-api/.gitignore

/stocky/stocky-api/.idea

/stocky/stocky-api/*.iws

/stocky/stocky-api/*.iml

/stocky/stocky-api/*.ipr

/nb-configuration.xml
/nbactions.xml
/Webgoat/target/
/Webgoat/.classpath
/Webgoat/.project
/Webgoat/.settings/.jsdtscope
/Webgoat/.settings/org.eclipse.jdt.core.prefs
/Webgoat/.settings/org.eclipse.m2e.core.prefs
/Webgoat/.settings/org.eclipse.wst.common.component
/Webgoat/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
/Webgoat/.settings/org.eclipse.wst.common.project.facet.core.xml
/Webgoat/.settings/org.eclipse.wst.jsdt.ui.superType.container
/Webgoat/.settings/org.eclipse.wst.jsdt.ui.superType.name
/Webgoat/.settings/org.eclipse.wst.validation.prefs
/Webgoat/.externalToolBuilders/
/Webgoat/.project
*/Webgoat/target/*
*.pmd
/Webgoat/mongo-data/*
/Webgoat/.classpath
/Webgoat/.idea/
/Webgoat/.settings/
/Webgoat/src/main/main.iml
*.BACKUP.*.jsp
*.BASE.*.jsp
*.LOCAL.*.jsp
*.REMOTE.*.jsp
/Webgoat/src/main/webapp/plugin_extracted/*
/Webgoat/src/main/webapp/users/*.jar
/Webgoat/src/main/webapp/plugin_lessons/*.jar
/Webgoat/src/main/webapp/users/*.props
/Webgoat/classes/*
*.iml
/Webgoat/pom.xml.versionsBackup

/Webgoat/*.iml
/Webgoat/.extract/*
/Webgoat/UserDatabase.mv.db
/Webgoat/src/main/webapp/users/guest.org.owasp.webgoat.plugin.*.props
/Webgoat/src/main/webapp/plugin_lessons/dist-*.pom
/Webgoat-lessons/**/target
**/*.jar
**/.DS_Store
/Webgoat/mongo-data/*
/Webgoat-lessons/vulnerable-components/dependency-reduced-pom.xml
**/.sts4-cache/*
**/.vscode/*
**/.factorypath
/Webgoat/.sonatype
**/bin/*
/Webgoat/webgoat.lck
/Webgoat/webgoat.log
/Webgoat/webgoat.properties
/Webgoat/webgoat.script
/Webgoat/TestClass.class
**/*.flattened-pom.xml
/Webgoat/.gitconfig

/Webgoat.gitconfig
